dash-list-item.nav-list-item .nli-content {
  display: flex;
  flex-direction: column;
}

dash-list-item.nav-list-item .nli-title {
  color: var(--dash-text-color-1);
  font-size: var(--dash-font-size-4);
}

dash-list-item.nav-list-item .nli-description {
  color: var(--dash-text-color-2);
  font-size: var(--dash-font-size-1);
}

dash-list-item.nav-list-item .nli-icon {
  padding-inline-start: var(--dash-spacing-2);
  padding-inline-end: var(--dash-spacing-5);
  font-size: var(--dash-font-size-4);
}
