@import "@didyoumeantoast/dash-components/dist/dash-components/dash-components.css";
@import url("./fonts.css");

body,
#root {
  background: var(--dash-background-1);
  color: var(--dash-text-color-1);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  --ilgis-brand: #144d1e;
  height: 100vh;
  overflow: hidden;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: var(--dash-line-height-default);
  font-weight: var(--dash-font-weight-light);
}

h1 {
  margin: var(--dash-spacing-3) 0 var(--dash-spacing-6) 0;
  font-size: 2.75rem;
}

h2 {
  margin: var(--dash-spacing-2) 0 var(--dash-spacing-5) 0;
  font-size: 2rem;
}

h3 {
  margin: var(--dash-spacing-1) 0 var(--dash-spacing-4) 0;
  font-size: 1.75rem;
}

h4 {
  margin: var(--dash-spacing-half) 0 var(--dash-spacing-3) 0;
  font-size: 1.5rem;
}

h5 {
  margin: 0 0 var(--dash-spacing-2) 0;
  font-size: 1.25rem;
}

h6 {
  margin: 0 0 var(--dash-spacing-1) 0;
  font-size: 1rem;
}

p {
  font-size: var(--dash-font-size-3);
}

.container > .card {
  margin-bottom: var(--dash-spacing-8);
}

a {
  color: var(--dash-text-color-2);
}

a:focus-visible {
  outline-color: var(--dash-brand);
}

/* Responsive font sizes */

@media (max-width: 600px) {
  body {
    --dash-font-size--1: 8px;
    --dash-font-size-0: 10px;
    --dash-font-size-1: 12px;
    --dash-font-size-2: 14px;
    --dash-font-size-3: 16px;
    --dash-font-size-4: 18px;
    --dash-font-size-5: 20px;
    --dash-font-size-6: 24px;
    --dash-font-size-7: 30px;
    --dash-font-size-8: 36px;
  }

  h1 {
    margin: var(--dash-spacing-2) 0 var(--dash-spacing-5) 0;
    font-size: 1.75rem;
  }

  h2 {
    margin: var(--dash-spacing-1) 0 var(--dash-spacing-4) 0;
    font-size: 1.5rem;
  }

  h3 {
    margin: var(--dash-spacing-half) 0 var(--dash-spacing-3) 0;
    font-size: 1.25rem;
  }

  h4 {
    margin: 0 0 var(--dash-spacing-2) 0;
    font-size: 1.15rem;
  }

  h5 {
    margin: 0 0 var(--dash-spacing-1) 0;
    font-size: 0.9rem;
  }

  h6 {
    margin: 0 0 var(--dash-spacing-half) 0;
    font-size: 0.75rem;
  }
}

/* main content animation */
main {
  animation: fadeInMain 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeInMain {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: unset;
    opacity: 1;
  }
}
