body {
  background-color: var(--dash-background-1);
  color: var(--dash-text-1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: var(--dash-line-height-default);
  font-weight: var(--dash-font-weight-light);
}

h1 {
  margin: var(--dash-spacing-3) 0 var(--dash-spacing-6) 0;
  font-size: 2.5rem;
}

h2 {
  margin: var(--dash-spacing-2) 0 var(--dash-spacing-5) 0;
  font-size: 2rem;
}

h3 {
  margin: var(--dash-spacing-1) 0 var(--dash-spacing-4) 0;
  font-size: 1.75rem;
}

h4 {
  margin: var(--dash-spacing-half) 0 var(--dash-spacing-3) 0;
  font-size: 1.5rem;
}

h5 {
  margin: 0 0 var(--dash-spacing-2) 0;
  font-size: 1.25rem;
}

h6 {
  margin: 0 0 var(--dash-spacing-1) 0;
  font-size: 1rem;
}

p {
  font-size: var(--dash-font-size-4);
}
