/* @import "https://js.arcgis.com/4.25/@arcgis/core/assets/esri/themes/dark/main.css"; */

@import "leaflet/dist/leaflet.css";

.leaflet-container {
  height: 40vh;
}

.leaflet-control-scale-line {
  height: var(--dash-spacing-5);
  box-shadow: var(--dash-box-shadow);
  font-size: var(--dash-font-size-0);
}
