@import "leaflet/dist/leaflet.css";

.leaflet-container {
  height: 40vh;
}

.leaflet-control-scale-line {
  height: var(--dash-spacing-5);
  box-shadow: var(--dash-box-shadow);
  font-size: var(--dash-font-size-0);
}
