.quiz .quiz-options {
  display: flex;
  flex-direction: column;
  gap: var(--dash-spacing-2);
}

.quiz .quiz-question-header {
  margin-bottom: var(--dash-spacing-6);
}

.quiz .quiz-footer {
  margin-block-start: var(--dash-spacing-6);
  flex: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz .quiz-footer span {
  display: flex;
  gap: var(--dash-spacing-2);
  align-items: center;
}

.quiz .quiz-footer .quiz-indicator-wrapper {
  overflow-x: auto;
  margin-inline-end: var(--dash-spacing-3);
}

.quiz .quiz-progress {
  width: var(--dash-spacing-6);
  height: var(--dash-spacing-6);
}

.quiz .quiz-footer .quiz-question-indicator {
  width: var(--dash-spacing-3);
  height: var(--dash-spacing-3);
  background-color: var(--dash-danger);
  border-radius: var(--dash-spacing-full);
}
.quiz .quiz-footer .quiz-question-indicator.active {
  outline: 1px solid var(--dash-brand);
  outline-offset: 2px;
}
.quiz .quiz-footer .quiz-question-indicator.unanswered {
  background-color: var(--dash-text-color-3);
}
.quiz .quiz-footer .quiz-question-indicator.correct {
  background-color: var(--dash-success);
}
.quiz .quiz-footer .quiz-question-indicator.incorrect {
  background-color: var(--dash-danger);
}
