/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #14a02e;
  --vp-c-brand-2: #144d1e;
  --vp-c-brand-2: #144d1e;
  --vp-c-brand-3: #144d1e;
}

[data-theme="dark"] {
  --vp-c-brand-1: #1a1a1a;
  --vp-c-brand-2: #333333;
}

[data-theme="light"] {
  --vp-c-brand-1: #ffffff;
  --vp-c-brand-2: #f0f0f0;
}

/**
 * Colors: Palette
 *
 * The primitive colors used for accent colors. These colors are referenced
 * by functional colors such as "Text", "Background", or "Brand".
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *    It must satisfy the contrast ratio with pure white (#ffffff) text on
 *    top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *    or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *    on top of it.
 *
 *    The soft color must be semi transparent alpha channel. This is crucial
 *    because it allows adding multiple "soft" colors on top of each other
 *    to create a accent, such as when having inline code block inside
 *    custom containers.
 * -------------------------------------------------------------------------- */


/* Custom Leaflet CSS because Leaflet elements and Vue don't play nice together*/

/* Leaflet legend styling */
.leaflet-legend {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  line-height: 1.2;
}

.leaflet-legend div {
  display: flex;
  color: #000000;
}

.leaflet-legend div:last-child {
  margin-bottom: 0;
}

.leaflet-legend span {
  color: #000000;
}

.leaflet-legend i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.8;
  flex-shrink: 0;
}

html.dark .leaflet-legend {
  background: #333333;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

html.dark .leaflet-legend div,
html.dark .leaflet-legend span {
  color: #ffffff;
}

.leaflet-reverse-button,
.leaflet-scale-button {
  border-radius: 6px;
  background: #ffffff;
  color: 333333;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}

html.dark .leaflet-reverse-button,
html.dark .leaflet-scale-button {
  background: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

.legend-header {
  display: flex;
  justify-content: space-between;
}

.toggle-legend {
  background: var(--vp-c-brand-1);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.toggle-legend:hover {
  background: var(--vp-c-brand-2);
}

.legend-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}