/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #14a02e;
  --vp-c-brand-2: #144d1e;
  --vp-c-brand-2: #144d1e;
  --vp-c-brand-3: #144d1e;
}

[data-theme="dark"] {
  --vp-c-brand-1: #1a1a1a;
  --vp-c-brand-2: #333333;
}

[data-theme="light"] {
  --vp-c-brand-1: #ffffff;
  --vp-c-brand-2: #f0f0f0;
}

/**
 * Colors: Palette
 *
 * The primitive colors used for accent colors. These colors are referenced
 * by functional colors such as "Text", "Background", or "Brand".
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *    It must satisfy the contrast ratio with pure white (#ffffff) text on
 *    top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *    or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *    on top of it.
 *
 *    The soft color must be semi transparent alpha channel. This is crucial
 *    because it allows adding multiple "soft" colors on top of each other
 *    to create a accent, such as when having inline code block inside
 *    custom containers.
 * -------------------------------------------------------------------------- */