/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #14a02e;
  --vp-c-brand-2: #144d1e;
  --vp-c-brand-2: #144d1e;
  --vp-c-brand-3: #144d1e;
}

[data-theme="dark"] {
  --vp-c-brand-1: #1a1a1a;
  --vp-c-brand-2: #333333;
}

[data-theme="light"] {
  --vp-c-brand-1: #ffffff;
  --vp-c-brand-2: #f0f0f0;
}

/* Calcite CSS variables */
.custom-calcite-overrides {
  --calcite-link-text-color: var(--vp-c-brand-1);
  --calcite-color-text-link: var(--vp-c-brand-1);
  /* Base (normal) state uses brand 1; hover/press switch to brand 2 */
  --calcite-color-brand: var(--vp-c-brand-1);
  --calcite-color-brand-hover: var(--vp-c-brand-2);
  --calcite-color-brand-press: var(--vp-c-brand-2);
  --calcite-color-brand-underline: var(--vp-c-brand-1);
  --calcite-color-focus: var(--vp-c-brand-1);
  --calcite-color-status-info: var(--vp-c-brand-1);
  --calcite-color-status-info-hover: var(--vp-c-brand-2);
  --calcite-color-status-info-press: var(--vp-c-brand-2);
}

/* Custom Leaflet CSS because Leaflet elements and Vue don't play nice together*/

/* Leaflet legend styling */
.leaflet-legend {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  line-height: 1.2;
}

.leaflet-legend div {
  display: flex;
  color: #000000;
}

.leaflet-legend div:last-child {
  margin-bottom: 0;
}

.leaflet-legend span {
  color: #000000;
}

.leaflet-legend i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.8;
  flex-shrink: 0;
}

html.dark .leaflet-legend {
  background: #333333;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

html.dark .leaflet-legend div,
html.dark .leaflet-legend span {
  color: #ffffff;
}

.leaflet-reverse-button,
.leaflet-scale-button {
  border-radius: 6px;
  background: #ffffff;
  color: 333333;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}

html.dark .leaflet-reverse-button,
html.dark .leaflet-scale-button {
  background: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

.legend-header {
  display: flex;
  justify-content: space-between;
}

.toggle-legend {
  background: var(--vp-c-brand-1);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.toggle-legend:hover {
  background: var(--vp-c-brand-2);
}

.legend-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}