/* Web component CSS */
@import "@esri/calcite-components/dist/calcite/calcite.css";
@import "@arcgis/core/assets/esri/themes/dark/main.css";

/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
}

[data-theme="dark"] {
  --vp-c-brand-1: #1a1a1a;
  --vp-c-brand-2: #333333;
}

[data-theme="light"] {
  --vp-c-brand-1: #ffffff;
  --vp-c-brand-2: #f0f0f0;
}
